.search-results{
    height: 15em;
    overflow: scroll;
}
.search-names{

}
p{
    font-weight: bold;
}
.search-header{
    text-align: center;
    font-size: 20px;
}
.header-btn{
    border:none;
    outline: none;
    width: 6em;
    height: 2em;
    border-radius: 10px;
    background-color: skyblue;
    color: darkgray;
    display: none;  
}