.callout.search-results{
    height: 30em;
    overflow: scroll;
    position: relative;
    padding: 0;
}

body
{background-image: url("https://media.istockphoto.com/id/1159376755/photo/flat-lay-composition-with-vintage-carpentry-tools-on-rough-wooden-background-top-view.jpg?s=612x612&w=0&k=20&c=gCzF1Y7lT4ntlDBbcoDMKdAggmDj4VNJeWttcUQHzio=");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: local;

}

.h1bg {
    text-align: center;
    font-size: 50px;
    background: linear-gradient(to left,
            rgb(3, 0, 3),
            indigo,
            blue,
            green,
            rgb(255, 115, 0),
            rgb(255, 0, 0),
            red);
            -webkit-background-clip: text;
            color: transparent;
        }



.search-section{
    text-align: center;
}

.search-names{

}
p{
    font-weight: bold;
}
.search-header{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    top: 0;
    background-color: lightgray;
    position: sticky;
    overflow: hidden;
    padding: 0.25em;
}
.header-btn{
    border:none;
    outline: none;
    width: fit-content;
    padding-left: .5em;
    padding-right: .5em;
    height: 1.25em;
    border-radius: 10px;
    color: black;
}
.order-container{
    display: flex;
    justify-content: center;
}
.btn-cmc{
    background-color: lightcoral;
    display: none;  
}
.btn-order{
    background-color: rgb(211, 164, 35);
    display: none;  
}
.btn-colorless{
    background-color: lightgray;
    display: none;  
}
.btn-forest{
    background-color: forestgreen;
    display: none;  
}
.btn-island{
    background-color: teal;
    display: none;  
}
.btn-swamp{
    background-color: rgb(15, 15, 13);
    color: white;
    display: none;  
}
.btn-plains{
    background-color: blanchedalmond;
    display: none;  
}
.btn-mountain{
    background-color: red;
    display: none;  
}
.names-list{
    list-style: none;
}