.callout.search-results{
    align-items: stretch;
    max-height: 50em;
    overflow: scroll;
    position: relative;
    padding: 0;
}

body
{  background-image: url('https://www.gmbinder.com/images/kDpgLpH.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100%;
    background-position: center center;


}

.h1bg {
    background: linear-gradient(to left,
            rgb(3, 0, 3),
            indigo,
            blue,
            green,
            rgb(255, 115, 0),
            rgb(255, 0, 0),
            red);
            -webkit-background-clip: text;
            color: transparent;
        }


.search-section{
    text-align: center;
}

.search-names{
    background-color: transparent;
}
/* body.preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
} */
*{
    background-color: rgba(0, 0, 0, 0.553); 
    outline-color: rgb(255, 255, 255);
    color: aliceblue;
}
body{
    /* position: relative; */
    background-color: azure;
}
p{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 0 .25em;
}
a{
    font-size: 24px;
    font-weight: bold;
    color: transparent;
    text-shadow: 1px 1px 1px rgba(220, 220, 220, 0.8), 0 0 0 rgb(56, 32, 63);
    transition: 0.2s ease-in-out;
}
a:hover{
    color:rgb(245, 236, 219);
    text-shadow: rgba(244, 238, 214, 0.8), 24px 24px 0;
}
h1{
    text-align: center;
}
div{
    padding: 0.25em;
    border-radius: 10px;
}
li{
    background-color: azure;
}
li, p{
    border: 1px solid azure;
    border-radius: 5px;
    margin: 0.2em;
}
.header-container{
    background-color: transparent;
    margin-bottom: 30rem;
    padding-top: 20rem;
}
.header{
    /* background-color: transparent; */
    font-weight: bold;
    font-size: 120px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
}
.header-2{
    background-color: transparent;
    color: transparent;
    text-shadow: 1px 1px 1px rgba(253, 250, 237, 0.8), 0 0 0 #222;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}
#usd,#usd-foil,#eur,#eur-foil{
    margin: 0.25em;
    display: none;
}
.grid-container{
    border-radius: 10px;
    max-width: 85rem;
    position: relative;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px azure;
    border-radius: 10px;
  }
::-webkit-scrollbar {
    background-color: #000;
  }
  /* Handle */
::-webkit-scrollbar-thumb {
    background: azure;
    border-radius: 10px;
  }
.card-info-header{
    font-weight: bold;
    font-size: 24px;
    color: transparent;
    text-shadow: 1px 1px 1px rgba(229, 229, 209, 0.8), 0 0 0 #222;
    border-bottom: #222 solid 1px;
    margin-bottom: 0.1em;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 215, 0, 0.4), 0 0 0 #222;
}
.card-information{
    width: 100%;
}
.color-category{
    background-color: azure;
    flex-grow: 1;
}
.card-image{
    border-top: #222 solid 1px;
    padding-top: .5em;
    display: none;
}
.rarity-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5em;
}
.rarity{
    display: flex;
    font-size: 30px;
    text-shadow: -1px -1px 0 azure, 1px -1px 0 azure, -1px 1px 0 azure, 1px 1px 0 azure;
    height: 1.5em;
    text-align: center;
    align-items: center;
    padding-top: 0;
}
.rarity-text{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}
.callout{
    border-radius: 10px;
    background-color: azure;
    margin: .5em;
    border: 2px solid goldenrod;
}
.current-card{
    /* width: 65%; */
}
.deck-aside{
    display: flex;
    flex-direction: column;
    width:fit-content;
    margin: 0;
    padding: 0;
    right: -240px;
    position:absolute;
    bottom: 0;
    z-index: 1000;
}
.large-2.medium-2.cell{
    width: 15em;
}
.grid-x.grid-padding-x{
    align-items: center;
    justify-content: center;
}
.grid-x{
    flex-grow: 1;
}
.large-4.medium-6.cell{
    /* margin-bottom: 10em; */
}
.large-4.medium-4.cell{
    width: 20%;
    margin-top: 0.75em;
    background-color: aliceblue;
    border: 2px solid goldenrod;
    height: 75%;
    min-height: 12em;
}
.flavor-text{
    font-style: italic;
    margin-top: 1em;
    font-weight: 400;
    border: solid 1px black;
    padding: .25em;
    border-radius: 6px;
}
.type{
    margin-top: 1em;
    font-size: 20px;
    font-weight: 700;
}
.search-header{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    top: 0;
    background-color: #222;
    position: sticky;
    overflow: hidden;
    padding: 0.25em;
    color: azure;
}
.header-btn{
    border:none;
    outline: none;
    width: fit-content;
    padding-left: .5em;
    padding-right: .5em;
    height: 1.25em;
    border-radius: 10px;
    color: black;
}
.order-container{
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.deactive{
    display: none;
    height:max-content;
    width: fit-content;
    background: transparent;
    border-radius: 0;
    color: darkred;
}
.button{
    border-radius: 4px;
}
.btn-cmc{
    background-color: lightcoral;
    display: none;  
}
.btn-order{
    background-color: rgb(211, 164, 35);
    display: none;  
}
.btn-colorless{
    background-color: lightgray;
    display: none;  
}
.btn-forest{
    background-color: forestgreen;
    display: none;  
}
.btn-island{
    background-color: teal;
    display: none;  
}
.btn-swamp{
    background-color: rgb(15, 15, 13);
    color: white;
    display: none;  
}
.btn-plains{
    background-color: blanchedalmond;
    display: none;  
}
.btn-mountain{
    background-color: red;
    display: none;  
}
.names-list{
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    list-style: none;
}
.flavor-text, .card-info-header, .rarity-text, .rarity, .type, .info-power, .info-toughness, .info-mana-cost, .info-cmc, .info-oracle, .info-legalities{
    display: none;
}
.small-card{
    margin: .125em;
    cursor: move;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
}
.small-card:hover{
    transform: scale(90%);
}
#first-small{
    margin: -.125em;
}
.large-12.cell{
    align-items: center;
}
.retail{
    width: 100%;
    word-wrap: break-word;
    margin: 0.25em;
    text-align: center;
}
.retail-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.pricing-container{
    width: fit-content;
    margin-bottom: 2em;
    display: none;
}
.pricing-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main-search-wrapper{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
 /* .large-8.medium-6.cell{
width: fit-content;
} */
/* .grid-x.grid-padding.container-1{
   align-items: center;
}  */
.large-9.medium-8.cell{
    width: 80%;
}
.color-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.checkbox-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 2em;
}
.checkbox, .checkbox-1{
    margin:auto
}
.main-header{
    width: 100%;
    text-align: center;
    text-decoration: underline;
}
.pricing-deck-wrapper{
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.decklist{
    max-width: fit-content;
}
.container-1{
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}
.purch-link{
    font-size: 16px;
    text-decoration: underline;
}
.retail{
    font-weight: bold;
}
.info-power,.info-toughness,.info-mana-cost,.info-cmc,.info-oracle{
    margin: 0.25em;
}
label{
    background-color: azure;
    border-radius: 0 3px 3px 0;
}
select, input{
    border-radius: 10px;
}
.order-btn-container{
    background-color: transparent;
}
#cmc-search-btn, #new-deck-btn{
    border-radius: 4px;
}
.fade-in{
    display: none;
}
#cardhoarder, #cardmarket, #tcgplayer{
    display: none;
}
.deck-add-container{
    width: fit-content;
    padding: 0.5em;
    /* left: 35%; */
}
.deck-add-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.count-add-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#add-card-btn{
    background-color: darkred;
    outline: none;
    border: 1px solid black;
    width: 12rem;
    border-radius: 4px;
    height: 3rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}
#add-card-btn:hover{
    background-color: rgb(238, 177, 177);
}
#add-card-btn:active{
    transform: scale(99%)
}
#add-card-message{
    margin-bottom: 1em;
    text-align: center;
    display: block;
    opacity: 0;
}
#add-card-btn:disabled{
    background-color: grey;
    pointer-events: none;
}
#card-count{
    display: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0.5em;
}
.deck-cards{
    display: none;
    height: fit-content;
    max-height: 100%;
    overflow: scroll;
    width: 15em;
    min-width: 15em;
    position: absolute;
    left: -250px;
    top: 0;
    padding: 0;
}
h5{
    color: white;
    text-align: center;
    border-radius: 4px;
    position: sticky;
    top: 0;
    overflow:hidden;
    background: rgba(0, 0, 0, 1);
    margin: 0;
}
#cards-in-deck{
    border: none !important;
    border-radius: 0;
    color: black;
    outline: none !important;
    margin: 0;
    font-size: 16px;
    background: transparent;
    text-align: center;
    /* flex:1 0 33.33%; */
    transition: 0.1s;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: no-wrap;
}
#cards-in-deck-list{
    /* display: flex; */
    /* width: 95%; */
    /* flex-wrap: wrap; */
    columns: 1 auto;
    border: 2px solid grey !important;
    border-radius: 4px;
    background: transparent;
    margin: 1em;
    list-style: none;
}
@media (max-width:1860px){
    .deck-aside{
        display: flex;
        flex-direction: column;
        position: static;
        bottom: 0;
        min-width: 100%;
    }
    .deck-cards{
        display: flex;
        flex-direction: column;
        position: static;
        bottom: 0;
        min-width: 100%;
    }
    #cards-in-deck-list{
        columns: 4;
    }
    .aside-mobile{
        min-width: 100%;
    }
}
@media (max-width: 750px){
    body,html{
        width: 100%;
        background-color: transparent;
    }
    body{
        /* background: fixed; */
    }
    .grid-container{
        min-width: 40em;
    }
    .checkbox-container{
        margin-left: 0;
    }
    .header-container{
        min-width: 40em;
    }
    .search-results,.search-names{
        align-items: stretch;
    }
    .large-9.medium-8.cell{
        display: grid;
    }
}