html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.classy{
  color: black;
  list-style: none;
  border-radius: 0;
}

#myChart{
  background-color: white;
}

#myChart2 {
  background-color: white;

}

#Deck-breakdown{
  flex-wrap: wrap;
 
}
.hidden{
  visibility: hidden;
}
.category-container{
 flex-grow: 1;
 height: 10em;
}
.category{
  height: 9em;
  color: black;
}

.background {
  background-image: url('https://www.gmbinder.com/images/kDpgLpH.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: relative;
  background-color: azure;
}
body,html{
  /* height: 100%; */
}
.top-bar {
  background-color: black;
}

.top-bar ul {
  background-color: black;
}

.top-bar ul li {
  background-color: black;
}

a {
  color: aliceblue;
}

.grid-x {
  background-color: transparent;
}

/* Charts fill the width of their container */
.chart {
  width: 100%
}
.top-bar {
  background-color: black;
  min-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  border-radius: 0;
  justify-content: center;
}
.header{
  font-size: 32px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px rgba(220, 220, 220, 0.8), 0 0 0 rgb(255, 255, 255);
  color: transparent;
}
.big{
  font-size: 48px;
}

