html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.classy{
  color: black;
  list-style: none;
  border-radius: 0;
}

#Deck-breakdown{
  flex-wrap: wrap;
}
.hidden{
  visibility: hidden;
}
.category-container{
 flex-grow: 1;
 height: 10em;
}
.category{
  height: 9em;
  color: black;
}

.background {
  background-image: url('https://www.gmbinder.com/images/kDpgLpH.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: relative;
  background-color: azure;
}
body,html{
  height: 100%;
}
.top-bar {
  background-color: black;
}

.top-bar ul {
  background-color: black;
}

.top-bar ul li {
  background-color: black;
}

a {
  color: aliceblue;
}

.grid-x {
  background-color: transparent;
}

/* Charts fill the width of their container */
.chart {
  width: 100%
}

/* #background{
      background-image: url('https://www.gmbinder.com/images/kDpgLpH.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: 100% 100%;
      
    } */
/* h1{
  color: rgb(17, 240, 9);
} */

/* #Decklist{
  background-image: url('https://preview.redd.it/fr7g5swymhc41.png?width=640&crop=smart&auto=webp&s=930c8edaa0acc0755c71c3d737840d08a9e9a0b0');
      background-repeat: no-repeat;
      background-attachment: local; 
      background-size: 100% 100%;
      text-align: center;
      width: 300px; 
      height: 300px;
      align-content:left;
      margin-left: 35px;
      
} */
/* #Deck-breakdown{

  background-image: url('https://static.vecteezy.com/system/resources/previews/000/151/563/original/vector-random-numbers-matrix-background.jpg');
      background-repeat: no-repeat;
      background-attachment: local; 
      background-size: 100% 100%;
      text-align: center;

} */
/* h4 {
      color: rgb(228, 117, 13);
    } */
/* 
    .pricetotal{
      color: rgb(13, 196, 13);
    }

    .Deck-List{
      color: rgb(13, 223, 206);
    } */


/* #Header{
      background-image:url('https://media.tenor.com/PEDzvMlrdi0AAAAM/fire.gif');
      background-size:30%;
      background-repeat: repeat-x;
      background-attachment: local;
     
    } */

/* #mana-graph {
  width: 500px;
  height: 300px;
  margin: 0px 25px 1rem 0;
}

#total-graph {
  width: 500px;
  height: 300px;
  margin: 0px 25px 1rem 0
} */


/* @media only screen and (max-width: 375px) {
  h1 {
    font-size: 20px;
    align-items: center;
    width: auto;
  }

  a {
    font-size: 10px;

  }

  #graph-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  #total-graph {
    height: 225px;
    width: 350px;
  }

  #mana-graph {
    height: 225px;
    width: 350px;
  }

  #Decklist {
    width: 250px;
    text-align: center;
    align-items: center;
  }

  #Deck-breakdown {
    height: 100px;
    width: 350px;

  }

}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    align-items: center;
    width: auto;
  }

  a {
    font-size: 15px;

  }

  #graph-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  #total-graph {
    height: 225px;
    width: 350px;
  }

  #mana-graph {
    height: 225px;
    width: 350px;
  }

  #Decklist {
    width: 250px;
    text-align: center;
    align-items: center;
  }

  #Deck-breakdown {
    height: 100px;
    width: 350px;

  }
}

@media only screen and (max-width: 412px) {
  h1 {
    font-size: 20px;
    align-items: center;
    width: auto;
  }

  a {
    font-size: 10px;

  }

  #graph-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  #total-graph {
    height: 225px;
    width: 350px;
  }

  #mana-graph {
    height: 225px;
    width: 350px;
  }

  #Decklist {
    width: 250px;
    text-align: center;
    align-items: center;
  }

  #Deck-breakdown {
    height: 100px;
    width: 350px;

  }


}

@media only screen and (max-width: 280px) {
  h1 {
    font-size: 10px;
    align-items: center;
    width: auto;
  }

  a {
    font-size: 10px;

  }

  #graph-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  #total-graph {
    height: 170px;
    width: 250px;
  }

  #mana-graph {
    height: 170px;
    width: 250px;

  }

  #Decklist {
    width: 250px;
    text-align: center;


  }
} */