header {
    background-color: rgb(54, 0, 54);
}

header h1 {
    color: rgb(215, 215, 215);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p {
    color: rgb(53, 53, 53);
    padding-top: 1rem;
}

label {
    color: rgb(53, 53, 53);
}

footer {
    background-color: black;
}

input {
    background-color: rgb(221, 221, 221);
}

.button {
    background-color: rgb(53, 53, 53);
}

body {
    background-color: rgb(171, 171, 171);
}