.background {
    background-image: url('https://www.gmbinder.com/images/kDpgLpH.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    background-color: azure;
}

.top-bar {
    background-color: black;
}

.top-bar ul {
    background-color: black;
}

.top-bar ul li {
    background-color: black;
    color: aliceblue;
}

p {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 0 .25em;
}

a {
    color: aliceblue;
}

div {
    padding: 0.25em;
    border-radius: 10px;
}

h1 {
    color: aliceblue;
}

label {
    color: rgb(53, 53, 53);
}

input {
    background-color: rgb(221, 221, 221);
}

.button {
    background-color: rgb(53, 53, 53);
}